<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title language="html:homePage"></title>
    <link rel="stylesheet" type="text/css" href="/static/common/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/IconExtension.css">
    <link rel="stylesheet" href="/static/common/pnotify/pnotify.custom.min.css" media="all" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/common/animate/animate.min.css">
</head>
<body>
<div class="easyui-layout" data-options="fit:true" style="width:100%;">
    <div id="hm_home_box" data-options="region:'center'" style="height:800px;width:100%;padding:10px;">
        <div class="hm_top_box" style="">
            <a class="hm_pos" data-url="html/main.html" data-icon="larry-neirongguanli1">
                <div class="hm_left" style="background:#3498db;"><i class="fa fa-life-ring"></i></div>
                <div class="hm_right">
                    <span class="nums">100</span>
                    <cite>待审核文章</cite>
                </div>
            </a>
            <a class="hm_pos" data-url="html/main.html" data-icon="larry-neirongguanli1">
                <div class="hm_left" style="background:#e67e22;"><i class="fa fa-life-ring"></i></div>
                <div class="hm_right">
                    <span class="nums">100</span>
                    <cite>待审核文章</cite>
                </div>
            </a>
            <a class="hm_pos" data-url="html/main.html" data-icon="larry-neirongguanli1">
                <div class="hm_left" style="background:#9b59b6;"><i class="fa fa-life-ring"></i></div>
                <div class="hm_right">
                    <span class="nums">100</span>
                    <cite>待审核文章</cite>
                </div>
            </a>
            <a class="hm_pos" data-url="html/main.html" data-icon="larry-neirongguanli1">
                <div class="hm_left" style="background:#1abc9c;"><i class="fa fa-life-ring"></i></div>
                <div class="hm_right">
                    <span class="nums">100</span>
                    <cite>待审核文章</cite>
                </div>
            </a>
            <a class="hm_pos" data-url="html/main.html" data-icon="larry-neirongguanli1">
                <div class="hm_left" style="background:#f39c12;"><i class="fa fa-life-ring"></i></div>
                <div class="hm_right">
                    <span class="nums">100</span>
                    <cite>待审核文章</cite>
                </div>
            </a>
            <a class="hm_pos" data-url="html/main.html" data-icon="larry-neirongguanli1">
                <div class="hm_left" style="background:#27ae60;"><i class="fa fa-life-ring"></i></div>
                <div class="hm_right">
                    <span class="nums">100</span>
                    <cite>待审核文章</cite>
                </div>
            </a>
        </div>
        <div class="hm_panel_box">
            <div class="hm_panel">
                <div class="hm_panel_title" language="html:homeUserInfo"></div>
                <div class="hm_panel_body hm_scrollbar_1">
                    <div class="frame_form_table" style="margin:0;">
                        <table cellpadding="0" cellspacing="0" class="table_form" width="100%">
                            <tbody>
                                <tr>
                                    <td align="right" width="50" language="table:homeHello"></td>
                                    <td width="180">{{.username}}</td>
                                </tr>
                                <tr>
                                    <td align="right" language="table:homeRoleName">&nbsp;&nbsp;&nbsp;所属角色&nbsp;:&nbsp;</td>
                                    <td id="role_name"></td>
                                </tr>
                                <tr>
                                    <td align="right" language="table:homeProjectAuthor">&nbsp;&nbsp;&nbsp;项目作者&nbsp;:&nbsp;</td>
                                    <td language="html:homeProjectAuthorEcho"></td>
                                </tr>
                                <tr>
                                    <td align="right" language="table:homeProductName">&nbsp;&nbsp;&nbsp;产品名称&nbsp;:&nbsp;</td>
                                    <td language="html:homeProductNameEcho"></td>
                                </tr>
                                <tr>
                                    <td align="right" language="table:homeProjectTrusteeship">&nbsp;&nbsp;&nbsp;项目托管&nbsp;:&nbsp;</td>
                                    <td><a href="https://github.com/iteny/hemacms">github</a>&nbsp;&nbsp;<a href="https://gitee.com/iteny/hippocms">码云</a></td>
                                </tr>
                                <tr>
                                    <td align="right" language="table:homeUserType">&nbsp;&nbsp;&nbsp;用户类型&nbsp;:&nbsp;</td>
                                    <td language="html:homeLifetimeFree"></td>
                                </tr>
                                <tr>
                                    <td align="right" language="table:homeVersion">&nbsp;&nbsp;&nbsp;版本号&nbsp;:&nbsp;</td>
                                    <td>1.0.0</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="hm_panel_box">
            <div class="hm_panel">
                <div class="hm_panel_title" language="html:homeSystemInfo"></div>
                <div class="hm_panel_body hm_scrollbar_2">
                    <div class="frame_form_table" style="margin:0;">
                        <table cellpadding="0" cellspacing="0" class="table_form" width="100%">
                            <tbody>
                                <tr>
                                    <td align="right" width="100" language="table:homeServerTime"></td>
                                    <td width="200" id="serverTime"></td>
                                </tr>
                                <tr>
                                    <td align="right" width="100" language="table:homeOperatingSystem"></td>
                                    <td>{{.os}}</td>
                                </tr>
                                <tr>
                                    <td align="right" width="100" language="table:homeSystemArchitecture"></td>
                                    <td>{{.arch}}</td>
                                </tr>
                                <tr>
                                    <td align="right" width="100" language="table:homeCpuVersion"></td>
                                    <td>{{.cpuModelName}}</td>
                                </tr>
                                <tr>
                                    <td align="right" width="100" language="table:homeUptime"></td>
                                    <td id="uptime"></td>
                                </tr>
                                <tr>
                                    <td align="right" width="100" language="table:homeHostName"></td>
                                    <td>{{.hostname}}</td>
                                </tr>
                                <tr>
                                    <td align="right" width="100" language="table:homeProcessNumber"></td>
                                    <td>{{.procs}}</td>
                                </tr>
                                <tr>
                                    <td align="right" width="100" language="table:homeKernelVersion"></td>
                                    <td>{{.kernelVersion}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="hm_panel_box">
            <div class="hm_panel">
                <div class="hm_panel_title" language="html:homeServerOccupancy"></div>
                <div class="hm_panel_body hm_scrollbar_3">
                    <div class="frame_form_table" style="margin:0;">
                        <table cellpadding="0" cellspacing="0" class="table_form" width="100%">
                            <tbody id="hm_system_monitor">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="hm_panel_box">
            <div class="hm_panel">
                <div class="hm_panel_title" language="html:homeVersionUpdateLog"></div>
                <div class="hm_panel_body hm_scrollbar_4">
                    <ul class="hm_timeline">
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>



</body>
<script type="text/javascript" src="/static/common/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/common/pnotify/pnotify.custom.min.js"></script>
<script type="text/javascript" src="/static/admin/js/language.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>
<script>
switch ($.cookie('back-language')) {
    case 'cn':
        $('#role_name').html({{.rolename}});
        break;
    case 'en':
        $('#role_name').html({{.roleen}});
        break;
    default:
        $('#role_name').html({{.rolename}});
}
var meWidth = document.documentElement.clientWidth;
$('.hm_panel .panel').width(meWidth);
$('#serverTime').html(hm.dateFormat({{.serverTime}}));
$('#uptime').html(hm.dateFormat({{.uptime}}));
hm.ajaxUpdateLog();
hm.ajaxPolling();
setInterval('hm.ajaxPolling()',{{.ajaxPolling}} * 1000);//轮询执行，500ms一次
</script>
</html>
