<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/common/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/IconExtension.css">
    <link rel="stylesheet" href="/static/common/pnotify/pnotify.custom.min.css" media="all" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css">
</head>

<body>

    <div class="hm-color fa-mac-1">34C749</div>
    <div class="hm-color fa-mac-2">FC635D</div>
    <div class="hm-color fa-color-1">1abc9c</div>
    <div class="hm-color fa-color-2">2ecc71</div>
    <div class="hm-color fa-color-3">3498db</div>
    <div class="hm-color fa-color-4">9b59b6</div>
    <div class="hm-color fa-color-5">34495e</div>
    <div class="hm-color fa-color-6">16a085</div>
    <div class="hm-color fa-color-7">27ae60</div>
    <div class="hm-color fa-color-8">2980b9</div>
    <div class="hm-color fa-color-9">8e44ad</div>
    <div class="hm-color fa-color-10">2c3e50</div>
    <div class="hm-color fa-color-11">f1c40f</div>
    <div class="hm-color fa-color-12">e67e22</div>
    <div class="hm-color fa-color-13">e74c3c</div>
    <div class="hm-color fa-color-14">ecf0f1</div>
    <div class="hm-color fa-color-15">95a5a6</div>
    <div class="hm-color fa-color-16">f39c12</div>
    <div class="hm-color fa-color-17">d35400</div>
    <div class="hm-color fa-color-18">c0392b</div>
    <div class="hm-color fa-color-19">bdc3c7</div>
    <div class="hm-color fa-color-20">7f8c8d</div>
    <div class="hm-color fa-color-21">white</div>

</body>
<script type="text/javascript" src="/static/common/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/common/pnotify/pnotify.custom.min.js"></script>
<link rel="stylesheet" href="/static/common/animate/animate.min.css">
<script type="text/javascript" src="/static/admin/js/language.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>

</html>
