<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>no found page</title>
</head>
<body>
    <div id="hm-app">
        <div style="padding:10px;">
            <div style="border:2px solid #e74c3c;width:auto;height:52px;background:#e74c3c;margin:0 auto;text-align:center;">
                <span id="text" style="color:white;height:52px;line-height:52px;font-size:24px;">Sorry! The page you visited cannot be found...</span>
                <span id="timer" style="color:white;height:52px;line-height:52px;font-size:24px;"></span>
                <span id="warring" style="color:white;height:52px;line-height:52px;font-size:24px;"></span>
            </div>
        </div>

    </div>
</body>
<script type="text/javascript" src="/static/common/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.cookie.js"></script>
<script>
var lang = '',
    minute = '',
    second = '',
    skipHome = '';
switch ($.cookie('back-language')) {
    case 'cn':
        lang = '抱歉!您访问的页面找不到哦...';
        minute = '分';
        second = '秒';
        skipHome = '后为你跳转到首页';
        break;
    case 'en':
        lang = 'Sorry! The page you visited cannot be found...';
        minute = ' minute ';
        second = ' second ';
        skipHome = 'After you jump to the home page';
        break;
    default:
        lang = '抱歉!您访问的页面找不到哦...';
        minute = '分';
        second = '秒';
        skipHome = '后为你跳转到首页';
        break;
}
$('#text').html(lang);
var maxtime = 10; //一个小时，按秒计算，自己调整!
function CountDown() {
    if (maxtime >= 0) {
        minutes = Math.floor(maxtime / 60);
        seconds = Math.floor(maxtime % 60);
        msg = minutes + minute + seconds + second + skipHome;
        document.all["timer"].innerHTML = msg;
        if (maxtime == 5 * 60)alert("还剩5分钟");
            --maxtime;
    } else{
        clearInterval(timer);
        parent.window.location = '/';
    }
}
timer = setInterval("CountDown()", 1000);
</script>
</html>
