<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title language="html:backstageHome">Home page</title>
    <link rel="stylesheet" type="text/css" href="/static/common/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/IconExtension.css">
    <link rel="stylesheet" href="/static/common/pnotify/pnotify.custom.min.css" media="all" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css">
    <link rel="stylesheet" href="/static/common/animate/animate.min.css">
</head>
<body id="hm-layout" class="hm_style_default">
    <div class="easyui-layout" data-options="fit:true">
    		 <!-- 左侧手风琴菜单 -->
        <div id="hm-west" data-options="region:'west'" style="width:230px;background: white;padding: 5px 5px 0px 5px">
        	sadfasd
        </div>
        <div id="hm-center" data-options="region:'center'" style="background:#eee;">
            <a id="ddddd" href=""></a>
        </div>
    </div>
</body>
<script type="text/javascript" src="/static/common/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/common/pnotify/pnotify.custom.min.js"></script>
<script type="text/javascript" src="/static/admin/js/language.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>
<script type="text/javascript">
var data = $.parseJSON({{.json}});
var lang = hm.getLanguage('easyui-tree');
$('#hm-west').tree({
    textField:lang,
    data: data,
    animate: true, //折叠动画效果
    checkbox: false, //复选框
    onlyLeafCheck: false, //是否只显示末尾的复选框
    lines: true, //是否显示虚线
    cascadeCheck: false,
    formatter:function(node){
		return node[lang];
	},
	onClick: function(data){
		// alert(node.id);  // alert node text property when clicked
        if(data.external_link){
            hm.notice("warn", "外部链接请去导航列表里设置，链接地址！");
        }else{

        }
		// $('#hm-center').panel({
		//     href:'content_url.php',
		//     onLoad:function(){
		// 		alert('loaded successfully');
		//     }
		// });
	}
});
</script>
