<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title language="html:editNavPage"></title>
    <link rel="stylesheet" type="text/css" href="/static/common/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/IconExtension.css">
    <link rel="stylesheet" href="/static/common/pnotify/pnotify.custom.min.css" media="all" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css">
    <link rel="stylesheet" type="text/css" href="/static/common/animate/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/static/common/webuploader/webuploader.css">
    <style>
    

    </style>
</head>
<body>
    <form action="/intendant/enterprise/editNavSubmit">
        <input class="easyui-validatebox" type="hidden" name="id" value="{{.nav.Id}}" data-options="required:true,validType:['numericNoHeadZero','length[1,8]']">
        <div class="frame_form_table">
            <table cellpadding="0" cellspacing="0" class="table_form" width="100%">
                <tbody>
                    <tr>
                        <td width="40" language="table:superiorNav"></td>
                        <td width="160"><input id="navselect" class="length_3" name="pid" value="{{.nav.Pid}}"></td>
                    </tr>
                    <tr>
                        <td width="40" language="table:navChinese"></td>
                        <td width="190"><input class="easyui-validatebox length_5" value="{{.nav.Name}}" type="text" name="name" data-options="required:true,validType:['chinese','length[2,50]']"></td>
                    </tr>
                    <tr>
                        <td width="40" language="table:navEnglish"></td>
                        <td width="190"><input class="easyui-validatebox length_5" value="{{.nav.En}}" type="text" name="en" data-options="required:true,validType:['englishSpace','length[2,50]']"></td>
                    </tr>
                    <tr>
                        <!-- <form id="importFileForm" method="post" enctype="multipart/form-data" style="display:none"> -->
                            <td width="40" language="table:navEnglish"></td>
                            <td width="190"><div class="uploader-demo"><div id="fileList" class="uploader-list"></div><div id="filePicker">选择图片</div></div></td>
                        <!-- </form> -->
                    </tr>
                    <tr>
                        <td width="40" language="table:navUrl"></td>
                        <td width="190"><input class="easyui-validatebox length_5" value="{{.nav.Url}}" type="text" name="url" data-options="required:true,validType:['menuUrl','length[2,50]']"></td>
                    </tr>
                    <tr>
                        <td width="40" language="table:navSort"></td>
                        <td width="190"><input class="easyui-validatebox length_5" value="{{.nav.Sort}}" type="text" name="sort" data-options="required:true,validType:['numeric','length[1,3]']"></td>
                    </tr>
                    <tr>
                        <td width="40" language="table:navIcon"></td>
                        <td>
                            <input id="hm_menu_icons_input" name="icon" type="hidden" value="{{.nav.Icon}}">
                            <strong id="hm_menu_icons"><i class='{{.nav.Icon}}'></i></strong>
                            <a href="#" class="easyui-linkbutton" plain="true" onclick="parent.hm.showMenuIcons(hm.language.selectIcons)" language="html:selectIcons"></a>
                        </td>
                    </tr>
                    <tr>
                        <td width="40" language="table:isshow"></td>
                        <td width="190"><input id="isshow"></td>
                        <input type="hidden" name="isshow" value="{{.nav.Isshow}}">
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="hm_toolbar">
            <a onclick="javascript:history.back(-1);" class="easyui-linkbutton" iconCls="icon-arrow_turn_left" plain="true" language="html:goback"></a>
            <a id="btn" href="" class="easyui-linkbutton" iconCls="icon-arrow_refresh" plain="true" language="html:refreshCurrent"></a>
            <a id="btn" href="javascript:void(0)" onclick="hm.ajaxAddEdit(editNavFunc,this)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" language="html:ajaxEdit"></a>
        </div>
    </form>
</body>
<script type="text/javascript" src="/static/common/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/common/pnotify/pnotify.custom.min.js"></script>
<script type="text/javascript" src="/static/common/webuploader/webuploader.min.js"></script>
<script type="text/javascript" src="/static/admin/js/language.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>
<script type="text/javascript">
var data = [];
var menudata = $.parseJSON({{.json}});
var topdata = '{"id":0,"url":"topNav","text":"顶级导航","pid":0,"isshow":1,"en":"Top nav","iconCls":"icon-eject_green"}';
data.push(JSON.parse(topdata));
$.each(menudata, function(index, obj) {
    data.push(obj);
});
var lang = hm.getLanguage('easyui-tree');
$('#navselect').combotree({
    required: true,
    textField: lang,
    data: data,
    formatter:function(node){
		return node[lang];
	}
});
var st = hm.switchStatus({{.menu.Isshow}});
$('#isshow').switchbutton({
    checked: st,
    onText: hm.language.on,
    offText: hm.language.off,
    onChange: function(checked) {
        if(checked == true){
            $('input[name=isshow]').val(1);
        }else{
            $('input[name=isshow]').val(0);
        }
    }
});
// 初始化Web Uploader
var uploader = WebUploader.create({
    //是否允许重复的图片
        duplicate: true,
    // 选完文件后，是否自动上传。
    auto: true,

    // swf文件路径
    swf: '/static/common/webuploader/Uploader.swf',

    // 文件接收服务端。
    server: '/intendant/site/uploadImage',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker',

    // 只允许选择图片文件。
    accept: {
        title: 'Images',
        extensions: 'gif,jpg,jpeg,bmp,png',
        mimeTypes: 'image/*'
    },
    //线程数
    threads: 1,
    //单个文件大小限制
    fileSingleSizeLimit: 200000000,
    //上传文件数量限制
    fileNumLimit:10,
    //上传前不压缩
    compress:false,
});
// 当有文件添加进来的时候
// uploader.on( 'fileQueued', function( file ) {
//     var $li = $(
//             '<div id="' + file.id + '" class="file-item thumbnail">' +
//                 '<img>' +
//                 '<div class="info">' + file.name + '</div>' +
//             '</div>'
//             ),
//         $img = $li.find('img');


//     // $list为容器jQuery实例
//     var $list = $("#fileList");
//     var ratio = window.devicePixelRatio || 1,
//     // 缩略图大小
//     thumbnailWidth = 240 * ratio,
//     thumbnailHeight = 240 * ratio;
//     $list.append( $li );

//     // 创建缩略图
//     // 如果为非图片文件，可以不用调用此方法。
//     // thumbnailWidth x thumbnailHeight 为 100 x 100
//     uploader.makeThumb( file, function( error, src ) {
//         if ( error ) {
//             $img.replaceWith('<span>不能预览</span>');
//             return;
//         }

//         $img.attr( 'src', src );
//     }, thumbnailWidth, thumbnailHeight );
// });
// 文件上传过程中创建进度条实时显示。
uploader.on( 'uploadProgress', function( file, percentage ) {
    var $li = $( '#'+file.id ),
        $percent = $li.find('.progress span');

    // 避免重复创建
    if ( !$percent.length ) {
        $percent = $('<p class="progress"><span></span></p>')
                .appendTo( $li )
                .find('span');
    }

    $percent.css( 'width', percentage * 100 + '%' );
});

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploader.on( 'uploadSuccess', function( file,data ) {
    var $li = $(
            '<div id="' + file.id + '" class="file-item thumbnail">' +
                '<img style="width:120px;height:"120px">' +
                '<div class="info">' + data.info + '</div>' +
            '</div>'
            ),
        $img = $li.find('img');


    // $list为容器jQuery实例
    var $list = $("#fileList");
    var ratio = window.devicePixelRatio || 1,
    // 缩略图大小
    thumbnailWidth = 240 * ratio,
    thumbnailHeight = 240 * ratio;
    var $btns = $('<div class="file-panel">' +
            '<span class="cancel" >删除</span>').appendTo($li);

    $list.html( $li );
    $btns.on('click', 'span', function () {
        var index = $(this).index();
        switch (index) {
            case 0:
                uploader.removeFile(file);
                hm.delPicture(data.info,file,"/intendant/site/delImage");
                return;
        }
    });
    // 创建缩略图
    // 如果为非图片文件，可以不用调用此方法。
    // thumbnailWidth x thumbnailHeight 为 100 x 100
    uploader.makeThumb( file, function( error, src ) {
        if ( error ) {
            $img.replaceWith('<span>不能预览</span>');
            return;
        }
        $img.attr( 'src', src );
    }, thumbnailWidth, thumbnailHeight );
    $( '#'+file.id ).addClass('upload-state-done');
});

// 文件上传失败，显示上传出错。
uploader.on( 'uploadError', function( file ) {
    var $li = $( '#'+file.id ),
        $error = $li.find('div.error');

    // 避免重复创建
    if ( !$error.length ) {
        $error = $('<div class="error"></div>').appendTo( $li );
    }

    $error.text('上传失败');
});

// 完成上传完了，成功或者失败，先删除进度条。
uploader.on( 'uploadComplete', function( file ) {
    $( '#'+file.id ).find('.progress').remove();
});
// var uploader = new WebUploader.Uploader({
//     //是否允许重复的图片
//     duplicate: true,
//     auto: true, // 选完文件后，是否自动上传
//     swf: '/static/common/webuploader/Uploader.swf', // swf文件路径
//     server: "/intendant/enterprise/editNavSubmitd", // 文件接收服务端
//     pick: { id: "#uploadImage", innerHTML: "本地上传图片" }, // 选择文件的按钮。可选
//     // 只允许选择图片文件。
//     accept: {
//         title: 'Images',
//         extensions: 'gif,jpg,jpeg,bmp,png',
//         mimeTypes: 'image/*'
//     },
//     //线程数
//     threads: 1,
//     //单个文件大小限制
//     fileSingleSizeLimit: 2000,
//     //上传文件数量限制
//     fileNumLimit:10,
//     //上传前不压缩
//     compress:false,
// });
function editNavFunc(data){
    if (data.status == 21) {
        parent.hm.notice("warn", hm.language.navCheckName + data.info);
    } else if(data.status == 22){
        parent.hm.notice("warn", hm.language.navCheckUrl + data.info);
    } else if(data.status == 23){
        parent.hm.notice("warn", hm.language.navCheckEn + data.info);
    } else if (data.status == 66) {
        parent.hm.notice("error", hm.language.noAuth);
    } else if(data.status == 11){
        parent.hm.notice("warn", data.info);
    } else if(data.status == 12){
        parent.hm.notice("warn", data.info);
    } else if(data.status == 13){
        parent.hm.notice("warn", data.info);
    } else if(data.status == 14){
        parent.hm.notice("warn", data.info);
    } else if(data.status == 15){
        parent.hm.notice("warn", data.info);
    } else if(data.status == 16){
        parent.hm.notice("warn", data.info);
    } else if(data.status == 17){
        parent.hm.notice("warn", data.info);
    } else if(data.status == 4){
        parent.hm.notice("error", hm.language.addFailed + data.info);
    } else if(data.status == 1){
        parent.hm.notice("success", hm.language.addSuccess);
        parent.hm.refreshTab();
    }else{
        parent.hm.notice("error",hm.language.unknownError);
    }
}
</script>
</html>
