<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add role</title>
    <link rel="stylesheet" type="text/css" href="/static/common/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/IconExtension.css">
    <link rel="stylesheet" href="/static/common/pnotify/pnotify.custom.min.css" media="all" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css">
</head>
<body>
<form id="hm-app" action="/intendant/site/addRoleSubmit">
    <div class="frame_form_table">
        <table cellpadding="0" cellspacing="0" class="table_form" width="100%">
            <tbody>
                <tr>
                    <td width="40">&nbsp;&nbsp;&nbsp;[[$store.state.language.roleChinese]]&nbsp;:&nbsp;</td>
                    <td width="160"><input class="easyui-validatebox length_5" name="name"  data-options="required:true,validType:'roleName'"></td>
                </tr>
                <tr>
                    <td width="40">&nbsp;&nbsp;&nbsp;[[$store.state.language.roleEnglish]]&nbsp;:&nbsp;</td>
                    <td width="160"><input class="easyui-validatebox length_5" name="en"  data-options="required:true,validType:'english'"></td>
                </tr>
                <tr>
                    <td width="30">&nbsp;&nbsp;&nbsp;[[$store.state.language.roleSort]]&nbsp;:&nbsp;</td>
                    <td width="190"><input class="easyui-validatebox length_5" type="text" name="sort" data-options="required:true,validType:'sort'" /></td>
                </tr>
                <tr>
                    <td width="40">&nbsp;&nbsp;&nbsp;[[$store.state.language.roleRemark]]&nbsp;:&nbsp;</td>
                    <td width="190"><input class="easyui-validatebox length_5" type="text" name="remark" data-options="required:true,validType:'remark'" /></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="hm_toolbar">
        <a onclick="javascript:history.back(-1);" class="easyui-linkbutton" iconCls="icon-arrow_turn_left" plain="true">[[$store.state.language.goback]]</a>
        <a id="btn" href="" class="easyui-linkbutton" iconCls="icon-arrow_refresh" plain="true">[[$store.state.language.refreshCurrent]]</a>
        <a id="btn" href="javascript:void(0)" onclick="hm.ajaxAddEdit(meFunc,this)" class="easyui-linkbutton" iconCls="icon-add" plain="true">[[$store.state.language.ajaxAdd]]</a>
    </div>
</form>
</body>
<script type="text/javascript" src="/static/common/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/common/pnotify/pnotify.custom.min.js"></script>
<link rel="stylesheet" href="/static/common/animate/animate.min.css">
<script type="text/javascript" src="/static/admin/js/language.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>
<script type="text/javascript" src="/static/common/dist/hmcms-vue.js"></script>
<script>
function meFunc(data){
    var failed = hm.language.addFailed ? hm.language.addFailed : "Add failed!",
        success = hm.language.addSuccess ? hm.language.addSuccess : "Add success!",
        unknownError = hm.language.unknownError ? hm.language.unknownError : "Unknow error!",
        roleCheckName = hm.language.roleCheckName ? hm.language.roleCheckName : "Role chinese name already exists!",
        roleCheckEn = hm.language.roleCheckEn ? hm.language.roleCheckEn : "Role english name already exists!",
        nameVali = hm.language.roleName + hm.language.name ? hm.language.roleName + hm.language.name : "Role name only allows Chinese characters, English letters and spaces, 2-80 characters!",
        sortVali = hm.language.sortVali ? hm.language.sortVali : "Sort must be 1-3 positive integers!",
        remarkVali = hm.language.remarkVali ? hm.language.remarkVali : "Remark only letters, numbers, English Chinese characters, minus, comma, period, exclamation and underline, 2-255 characters!",
        englishVali = hm.language.englishVali ? hm.language.englishVali : "English name only allows English and spaces,2-80 characters!";
    if (data.status == 21) {
        parent.hm.notice("error", roleCheckName + data.info);
    } else if (data.status == 22) {
        parent.hm.notice("error", roleCheckEn + data.info);
    } else if (data.status == 11) {
        parent.hm.notice("error", nameVali + data.info);
    } else if(data.status == 12){
        parent.hm.notice("error", sortVali + data.info);
    } else if(data.status == 13){
        parent.hm.notice("error", remarkVali + data.info);
    } else if(data.status == 14){
        parent.hm.notice("error", englishVali + data.info);
    } else if(data.status == 4){
        parent.hm.notice("error", failed + data.info);
    } else if(data.status == 1){
        parent.hm.notice("success", success + data.info);
        parent.hm.refreshTab();
    }else{
        parent.hm.notice("error",unknownError+ data.info);
    }
}
</script>
</html>
