<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Color Schemes</title>
    <link rel="stylesheet" type="text/css" href="/static/common/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/IconExtension.css">
    <link rel="stylesheet" href="/static/common/pnotify/pnotify.custom.min.css" media="all" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css">
    <style>


    </style>
</head>
<body>
<div id="hm-app" class="easyui-layout" data-options="fit:true" style="width:100%;">
    <div id="hm_height" data-options="region:'center'" style="height:800px;padding:0px 10px;">
        <div class="hm_color_box">
            <div class="hm_color hm_color_1">
                <div class="tit">#1abc9c</div>
                <div class="pick_css" data-clipboard-text="hm_color_1">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#1abc9c">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_2">
                <div class="tit">#2ecc71</div>
                <div class="pick_css" data-clipboard-text="hm_color_2">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#2ecc71">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_3">
                <div class="tit">#3498db</div>
                <div class="pick_css" data-clipboard-text="hm_color_3">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#3498db">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_4">
                <div class="tit">#9b59b6</div>
                <div class="pick_css" data-clipboard-text="hm_color_4">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#9b59b6">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_5">
                <div class="tit">#34495e</div>
                <div class="pick_css" data-clipboard-text="hm_color_5">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#34495e">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_6">
                <div class="tit">#16a085</div>
                <div class="pick_css" data-clipboard-text="hm_color_6">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#16a085">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_7">
                <div class="tit">#27ae60</div>
                <div class="pick_css" data-clipboard-text="hm_color_7">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#27ae60">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_8">
                <div class="tit">#2980b9</div>
                <div class="pick_css" data-clipboard-text="hm_color_8">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#2980b9">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_9">
                <div class="tit">#8e44ad</div>
                <div class="pick_css" data-clipboard-text="hm_color_9">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#8e44ad">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_10">
                <div class="tit">#2c3e50</div>
                <div class="pick_css" data-clipboard-text="hm_color_10">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#2c3e50">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_11">
                <div class="tit">#f1c40f</div>
                <div class="pick_css" data-clipboard-text="hm_color_11">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#f1c40f">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_12">
                <div class="tit">#e67e22</div>
                <div class="pick_css" data-clipboard-text="hm_color_12">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#e67e22">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_13">
                <div class="tit">#e74c3c</div>
                <div class="pick_css" data-clipboard-text="hm_color_13">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#e74c3c">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_14">
                <div class="tit">#ecf0f1</div>
                <div class="pick_css" data-clipboard-text="hm_color_14">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#ecf0f1">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_15">
                <div class="tit">#95a5a6</div>
                <div class="pick_css" data-clipboard-text="hm_color_15">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#95a5a6">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_16">
                <div class="tit">#f39c12</div>
                <div class="pick_css" data-clipboard-text="hm_color_16">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#f39c12">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_17">
                <div class="tit">#d35400</div>
                <div class="pick_css" data-clipboard-text="hm_color_17">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#d35400">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_18">
                <div class="tit">#c0392b</div>
                <div class="pick_css" data-clipboard-text="hm_color_18">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#c0392b">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_19">
                <div class="tit">#bdc3c7</div>
                <div class="pick_css" data-clipboard-text="hm_color_19">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#bdc3c7">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_20">
                <div class="tit">#7f8c8d</div>
                <div class="pick_css" data-clipboard-text="hm_color_20">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#7f8c8d">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_21">
                <div class="tit">#34C749</div>
                <div class="pick_css" data-clipboard-text="hm_color_21">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#34C749">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
        <div class="hm_color_box">
            <div class="hm_color hm_color_22">
                <div class="tit">#FC635D</div>
                <div class="pick_css" data-clipboard-text="hm_color_22">[[$store.state.language.jsCss]]</div>
                <div class="pick_rgb" data-clipboard-text="#FC635D">[[$store.state.language.jsRgb]]</div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/static/common/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/common/pnotify/pnotify.custom.min.js"></script>
<link rel="stylesheet" href="/static/common/animate/animate.min.css">
<script type="text/javascript" src="/static/admin/js/language.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>
<script type="text/javascript" src="/static/common/dist/hmcms-vue.js"></script>
<script src="/static/common/dist/clipboard.min.js"></script>
<script>
var mehigh = document.documentElement.clientHeight-80;
$('#hm_height').height(mehigh);
var css = new ClipboardJS('.pick_css');
css.on('success', function(e) {
    var jsCopyCss = hm.language.jsCopyCss ? hm.language.jsCopyCss : 'Copy color style ',
        jsCopySuccess = hm.language.jsCopySuccess ? hm.language.jsCopySuccess : ' success!';
    hm.notice('success',jsCopyCss + e.text + jsCopySuccess);
    e.clearSelection();
});
css.on('error', function(e) {
    var jsCopyFailed = hm.language.jsCopyFailed ? hm.language.jsCopyFailed : 'Copy failed!';
    hm.notice('success',jsCopyFailed);
});
var rgb = new ClipboardJS('.pick_rgb');
rgb.on('success', function(e) {
    var jsCopyRgb = hm.language.jsCopyRgb ? hm.language.jsCopyRgb : 'Copy color rgb code ',
        jsCopySuccess = hm.language.jsCopySuccess ? hm.language.jsCopySuccess : ' success!';
    hm.notice('success',jsCopyRgb + e.text + jsCopySuccess);
    e.clearSelection();
});
rgb.on('error', function(e) {
    var jsCopyFailed = hm.language.jsCopyFailed ? hm.language.jsCopyFailed : 'Copy failed!';
    hm.notice('success',jsCopyFailed);
});
</script>
</html>
