<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户管理</title>
    <link rel="stylesheet" type="text/css" href="/static/common/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/bootstrap/easyui.css">
    <link rel="stylesheet" type="text/css" href="/static/common/easyui/themes/IconExtension.css">
    <link rel="stylesheet" href="/static/common/pnotify/pnotify.custom.min.css" media="all" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/admin.css">
</head>
<body onkeydown="hm.searchKey();">
<form action="" id="hm-app">
    <div class="easyui-layout" style="padding:10px 0px 10px 10px;">
        <table id="hm_data" region="center"></table>
    </div>
    <div id="hm_toolbar">
        <a href="javascript:void(0)" onclick="hm.getVerify(this)" data-url="/intendant/site/addUser" class="easyui-linkbutton" iconCls="icon-add" plain="true">[[$store.state.language.userAdd]]</a>
        <a href="javascript:void(0)" onclick="hm.ajaxBatchDel(userBatchDel,this)" data-url="/intendant/site/batchDelUser" class="easyui-linkbutton"  iconCls="icon-arrow_ns" plain="true">[[$store.state.language.userBatchDel]]</a>
        <a href="javascript:void(0)" onclick="hm.datagridReload('#hm_data')" class="easyui-linkbutton" iconCls="icon-2013040601125064_easyicon_net_16" plain="true">[[$store.state.language.reloadDatagrid]]</a>
    </div>
    <div id="hm_menu_tools">
        <form name="datagird_tools">
            <div id="hm_search">
                [[$store.state.language.userSearch]]: <input type="text" name="username" class="easyui-validatebox"></input>
                [[$store.state.language.userCreateTime]]: <input type="text" name="dateFrom" class="easyui-datetimebox" data-options="editable:false">
                [[$store.state.language.userTo]]:<input type="text" name="dateTo" class="easyui-datetimebox" data-options="editable:false">
                <a href="#" onclick="hm.ajaxSearch(userSearch,this)" class="easyui-linkbutton" id="hm_search_submit" iconCls="icon-zoom" plain="true">[[$store.state.language.search]]</a>
                <a href="#" onclick="hm.clearSearch(this)" class="easyui-linkbutton" iconCls="icon-arrow_nw_ne_sw_se" plain="true">[[$store.state.language.clearSearch]]</a>
            </div>
        </form>
    </div>
</form>
</body>
<script type="text/javascript" src="/static/common/easyui/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/common/easyui/jquery.easyui.min.js"></script>
<script type="text/javascript" src="/static/common/pnotify/pnotify.custom.min.js"></script>
<link rel="stylesheet" href="/static/common/animate/animate.min.css">
<script type="text/javascript" src="/static/admin/js/language.js"></script>
<script type="text/javascript" src="/static/admin/js/global.js"></script>
<script type="text/javascript" src="/static/common/dist/hmcms-vue.js"></script>
<script>
var mehigh = document.documentElement.clientHeight-80;
$('#hm_data').datagrid({
    height: mehigh,
    // striped: true, //斑马线效果
    nowrap: false, //数据列是否显示为一行
    emptyMsg: hm.language.noData ? hm.language.noData : "no records data found",
    url:'/intendant/site/getUser',
    fitColumns: true, //宽度自适应窗口
    rownumbers: false, //是否显示行号
    singleSelect: false,
    scrollbarSize: 0, //去除滚动条，否则右边最后一列会自动多处一块
    remoteSort: false, //不以服务器端排序
    queryParams: null,//额外提交参数
    showHeader: true, //显示行头
    showFooter: true, //显示行尾
    pagination: true,
    pageSize: 20,             //分页大小
    pageNumber:1,             //从第几页开始显示（默认第一页，可以省略）
    pageList: [10, 20, 30, 40, 50],   //设置每页记录条数的列表
    pagePosition: 'bottom',
    toolbar: '#hm_menu_tools',
    rowStyler:function(index,row){//返回选定行的样式
        // if(row.role == "超级管理员"){
        //     return {class:'hm_datagrid_hl'};
        // }
    },
    columns:[[
        {
            field: 'ck',
            checkbox: true,
            width: 10,//百分比
            align: 'center',
        },{
            field: 'id',
            title: 'ID',
            width: 20,
            align: 'center',
            sortable: true,
        },{
            field: 'username',
            title: hm.language.userName ? hm.language.userName : 'Account',
            width: 60,
            align: 'center',
        },{
            field: 'role',
            title: hm.language.userRoleName ? hm.language.userRoleName : 'Role name',
            width: 60,
            align: 'center',
            formatter: function(value, row, index) {
                var lang = '';
                switch ($.cookie('back-language')) {
                    case 'cn':
                        lang = value;
                        break;
                    case 'en':
                        lang = row.roleen;
                        break;
                    default:
                        lang = value;
                }
                return lang;
            }
        },{
            field: 'create_time',
            title: hm.language.userCreateTime ? hm.language.userCreateTime : 'Create time',
            width: 75,
            align: 'center',
            formatter: function(value, row, index){
                return hm.dateFormat(value)
            },
            sortable: true,
        },{
            field: 'create_ip',
            title: hm.language.userCreateIp ? hm.language.userCreateIp : 'Create ip',
            width: 60,
            align: 'center',
        },{
            field: 'email',
            title: hm.language.userEmail ? hm.language.userEmail : 'Email',
            width: 60,
            align: 'center',
        },{
            field: 'remark',
            title: hm.language.remark ? hm.language.remark : 'Remark',
            width: 40,
            align: 'center',
            formatter: function(value,row,index){
                if(value){
                    return '<a title="'+value+'" class="easyui-tooltip">'+hm.language.seeRemark+'</a>';
                }else{
                    return '<a title="'+hm.language.noRemark+'" class="easyui-tooltip">'+hm.language.seeRemark+'</a>';
                }
            }
        },{
            field: 'status',
            title: hm.language.isshow ? hm.language.isshow : 'Isshow',
            width: 30,
            align: 'center',
            formatter: function(value, row, index) {
                if(value){
                    return '<i class="fa fa-check" style="color:white;background-color:green;border-radius:25px;padding:2px;"></i>';
                }else{
                    return '<i class="fa fa-remove" style="color:white;background-color:red;border-radius:25px;padding:2px;"></i>';
                }
            }
        },{
            field: 'cz',
            title: hm.language.manageOperat ? hm.language.manageOperat : 'Management operation',
            width: 120,
            align: 'center',
            formatter: function(value, row, index) {
                var str = '';
                if(row.id == 1){
                    str += '<a href="#" class="easyui-linkbutton hm-op-btn hm-red" iconCls="icon-2012080404218">'+hm.language.userAdminIsNo+'</a>';
                }else{
                    str += '<a href="javascript:void(0)" onclick="hm.getVerify(this)" data-url="/intendant/site/editUser/' + row.id + '" class="easyui-linkbutton hm-op-btn hm-blue" iconCls="icon-bookmark_edit">'+hm.language.ajaxEdit+'</a>';
                    str += '<a href="javascript:void(0)" onclick="hm.ajaxDel(userDel,this)" class="easyui-linkbutton hm-op-btn hm-red" iconCls="icon-delete" data-url="/intendant/site/delUser" data-id="' + row.id + '">'+hm.language.ajaxDel+'</a>';
                }
                return str;
            }
        }
    ]],
    onLoadSuccess: function(data) {
        if (data.status == 66) {
            window.location = '/intendant/auth';
        } else {
            $('.easyui-linkbutton').linkbutton();
            $('.easyui-tooltip').tooltip({
                position: 'bottom',
                onShow: function(){
                    $(this).tooltip('tip').css({
                        backgroundColor: '#f39c12',
                        borderColor: '#f39c12',
                        color: '#fff',
                        size: '18px',
                    });
                }
            });
        }
    }
});
hm.datagridWidthResize("#hm_data",'datagrid'); //让treegrid宽度自动适应
function userBatchDel(data){
    var failed = hm.language.delFailed ? hm.language.delFailed : "Delete failed!",
        success = hm.language.delSuccess ? hm.language.delSuccess : "Delete success!",
        unknownError = hm.language.unknownError ? hm.language.unknownError : "Unknow error!",
        userIdGroup = hm.language.userIdGroup ? hm.language.userIdGroup : "Account ID array is illegal!",
        userAdminNoDel = hm.language.userAdminNoDel ? hm.language.userAdminNoDel : "Superadmin does not allow deletion!";
    if (data.status == 11) {
        parent.hm.notice("error", userIdGroup + data.info);
    } else if(data.status == 12){
        parent.hm.notice("error", userAdminNoDel + data.info);
    } else if(data.status == 4){
        parent.hm.notice("error", failed + data.info);
    } else if(data.status == 1){
        parent.hm.notice("success", success + data.info);
        parent.hm.refreshTab();
    }else{
        parent.hm.notice("error", unknownError+data.info);
    }
}
function userDel(data){
    var failed = hm.language.delFailed ? hm.language.delFailed : "Delete failed!",
        success = hm.language.delSuccess ? hm.language.delSuccess : "Delete success!",
        unknownError = hm.language.unknownError ? hm.language.unknownError : "Unknow error!",
        userId = hm.language.userId ? hm.language.userId : "Account ID is illegal!",
        userAdminNoDel = hm.language.userAdminNoDel ? hm.language.userAdminNoDel : "Superadmin does not allow deletion!";
    if (data.status == 11) {
        parent.hm.notice("error", userIdGroup + data.info);
    } else if(data.status == 12){
        parent.hm.notice("error", userAdminNoDel + data.info);
    } else if(data.status == 4){
        parent.hm.notice("error", failed + data.info);
    } else if(data.status == 1){
        parent.hm.notice("success", success + data.info);
        parent.hm.refreshTab();
    }else{
        parent.hm.notice("error", unknownError+data.info);
    }
}
function userSearch(data){
    var failed = hm.language.delFailed ? hm.language.delFailed : "Delete failed!",
        success = hm.language.delSuccess ? hm.language.delSuccess : "Delete success!",
        unknownError = hm.language.unknownError ? hm.language.unknownError : "Unknow error!",
        userId = hm.language.userId ? hm.language.userId : "Account ID is illegal!",
        userAdminNoDel = hm.language.userAdminNoDel ? hm.language.userAdminNoDel : "Superadmin does not allow deletion!";
    if (data.status == 11) {
        parent.hm.notice("error", userIdGroup + data.info);
    } else if(data.status == 12){
        parent.hm.notice("error", userAdminNoDel + data.info);
    } else if(data.status == 4){
        parent.hm.notice("error", failed + data.info);
    } else if(data.status == 1){
        parent.hm.notice("success", success + data.info);
        parent.hm.refreshTab();
    }else{
        parent.hm.notice("error", unknownError+data.info);
    }
}
</script>
</html>
