ul,ul li,ul ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
.iconfont_weight_bold{
    font-weight: bold;
}
.iconfont_weight_normal{
    font-weight: normal;
}
.iconfont_size_1{
    font-size: 16px;
}
.iconfont_size_2{
    font-size: 18px;
}
.iconfont_size_3{
    font-size: 20px;
}
.hm_color_1{
    background: #1abc9c!important;
}
.hm_color_2{
    background: #2ecc71!important;
}
.hm_color_3{
    background: #3498db!important;
}
.hm_color_4{
    background: #9b59b6!important;
}
.hm_color_5{
    background: #34495e!important;
}
.hm_color_6{
    background: #16a085!important;
}
.hm_color_7{
    background: #27ae60!important;
}
.hm_color_8{
    background: #2980b9!important;
}
.hm_color_9{
    background: #8e44ad!important;
}
.hm_color_10{
    background: #2c3e50!important;
}
.hm_color_11{
    background: #f1c40f!important;
}
.hm_color_12{
    background: #e67e22!important;
}
.hm_color_13{
    background: #e74c3c!important;
}
.hm_color_14{
    background: #ecf0f1!important;
}
.hm_color_15{
    background: #95a5a6!important;
}
.hm_color_16{
    background: #f39c12!important;
}
.hm_color_17{
    background: #d35400!important;
}
.hm_color_18{
    background: #c0392b!important;
}
.hm_color_19{
    background: #bdc3c7!important;
}
.hm_color_20{
    background: #7f8c8d!important;
}
.hm_color_21{
    background: #34C749!important;
}
.hm_color_22{
    background: #FC635D!important;
}
.hm_color_23{
    background: #e14d43!important;
}
.hm_color_24{
    background: #363b3f!important;
}
.hm_icon_1{
    color: #1abc9c!important;
}
.hm_icon_2{
    color: #2ecc71!important;
}
.hm_icon_3{
    color: #3498db!important;
}
.hm_icon_4{
    color: #9b59b6!important;
}
.hm_icon_5{
    color: #34495e!important;
}
.hm_icon_6{
    color: #16a085!important;
}
.hm_icon_7{
    color: #27ae60!important;
}
.hm_icon_8{
    color: #2980b9!important;
}
.hm_icon_9{
    color: #8e44ad!important;
}
.hm_icon_10{
    color: #2c3e50!important;
}
.hm_icon_11{
    color: #f1c40f!important;
}
.hm_icon_12{
    color: #e67e22!important;
}
.hm_icon_13{
    color: #e74c3c!important;
}
.hm_icon_14{
    color: #ecf0f1!important;
}
.hm_icon_15{
    color: #95a5a6!important;
}
.hm_icon_16{
    color: #f39c12!important;
}
.hm_icon_17{
    color: #d35400!important;
}
.hm_icon_18{
    color: #c0392b!important;
}
.hm_icon_19{
    color: #bdc3c7!important;
}
.hm_icon_20{
    color: #7f8c8d!important;
}
.hm_icon_21{
    color: #34C749!important;
}
.hm_icon_22{
    color: #FC635D!important;
}
.hm_icon_23{
    color: #fff!important;
}
/* 下载开始 */
.hm_download{
    display: block;
    margin: 60px 0;
}
.hm_download .container{
}
.hm_download .container .col-sm{
    height: 185px;
    display: block;
}
.hm_download .container .col-sm a{
    display: block;
}
.hm_download .container .col-sm a:hover{
    text-decoration: none;
}
.hm_download .top{
    height: 100px;
    width: 100%;
    /* background: red; */
}
.hm_download .top i{
    display: block;
    text-align: center;
    font-size: 60px;
    color: #666;
}
.hm_download .bottom{
    height: 85px;
    width: 100%;
    background: #3AC17E;
    padding: 10px;
    border-radius: 4px;
}
.hm_download .bottom .font_up{
    text-align: center;
    color: white;
    font-size: 24px;
}
.hm_download .bottom .font_up i{
    font-size: 20px;
}
.hm_download .bottom .font_down{
    text-align: center;
    color: white;
    font-size: 14px;
}
/* 下载结束 */
/* 功能开始 */
.hm_func{
    display: block;
    /* height: 110px; */
    margin:60px 0;
}
.hm_func .col-sm{
    padding: 10px 0 10px 20px;
}
.hm_func .col-sm a{
    display: block;
}
.hm_func .col-sm a:hover{
    text-decoration: none;
}
.hm_func .media-body{
    height: 80px;
    overflow: hidden;
    padding-left: 10px;
    color: #666;
    font-size: 14px;
}
.hm_func .media-body h1{
    font-size: 20px;
    color: #333;
}
.hm_func .bg{
    width: 50px;
    height: 50px;
    background: red;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position: relative;
}
.hm_func i{
    position: relative;
    left:9px;
    display: inline-block;
    vertical-align: middle;
    font-size: 30px;
    color: #fff;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
/* 功能结束 */
/* 块开始 */
.hm_block{
    margin: 60px 0;
    padding:40px;
    background: #f2f2f2;
}
.hm_block a{
    margin-bottom: 10px;
    width:100%;
    color: #fff;
}
/* 块结束 */
/* 页脚开始 */
.hm_footer .up{
    padding: 30px 0 10px 0;
}
.hm_footer .col-sm-2{
    /* background: red; */
    /* border-right: 1px solid blue; */
    margin-bottom: 20px;
}
.hm_footer .up ul li{
    text-align: left;
    color: #fff;
}
.hm_footer .up ul li h1{
    font-size: 20px;
    text-align: left;
}
.hm_footer .up ul li h1 i{
    font-size: 20px;
}
.hm_footer .up ul li a{
    display: block;
    padding: 3px 0;
    text-align: left;
    color: #ccc;
    font-size: 14px;
    -webkit-transition:all .6s ease;
    -moz-transition:all .6s ease;
    -ms-transition:all .6s ease;
    transition:all .6s ease;
}
/* 页脚结束 */
